/* color */
$white: #fff;

$black: #000;
$light-black: #454a5b;

$grey: #dadadc;
$dark-grey: #afafb2;
$dark-grey: #5f6463;
$more-dark-grey: #4f5163;

$rose: #ed1c8b;
$dark-rose: #d80780;

$input-text-color: #6f7588;

$blue: #00bff3;
$dark-blue: #00b0e0;

$copyright: #3c4242;
