// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

$lato: 'Roboto', sans-serif;

@include font('Helvetica', HelveticaBold, 700, normal);
@include font('Helvetica', HelveticaRegular, 400, normal);
@include font('Helvetica', HelveticaLight, 300, normal);

$helvetica: 'Helvetica', sans-serif;

$text: 14px;
$h1: 48px;
$h2: 36px;
$h3: 14px;
$big-h3: 24px;

$url: 16px;
$resp-h2: 22px;
$input: 16px;
