.book-space {
  background: $blue;
  padding: 40px 0;

  h2 {
    border-left: 5px solid $white;
    color: $white;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-top: 5px;
  }

  .field-name-field-text {
    p {
      color: $white;
      font-weight: 300;
      margin-bottom: 30px;
    }

    h3 {
      color: $white;
      font-size: $big-h3;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }

  .right {
    margin: 0 auto;
    width: 260px;
  }

  .field-type-text {
    background: $white;
    margin-bottom: 30px;
    min-height: 115px;
    overflow: hidden;
    padding: 30px;

    .field-item {
      color: $light-black;
      font-size: $url;
      line-height: 1.7;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .book-space {
    .bean-two-column {
      @include flex-box;
    }

    .left {
      margin-right: 2%;
      width: 53%;
    }

    .right {
      width: 100%;
    }

    .right .field-name-field-image-text-paragraph {
      > .field-items {
        @include flex-box;
        justify-content: space-between;
      }

      > .field-items > .field-item {
        width: 48%;
      }
    }
  }
}
