.upcoming-events {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
  padding-top: 45px;
  position: relative;

  h2 {
    color: $white;
  }

  .pane-title {
    border-left: 5px solid $rose;
    padding-left: 15px;
    padding-top: 5px;
  }

  .views-row {
    min-height: 237px;
    position: relative;

    .field-name-title {
      margin-top: 20px;
    }

    .field-name-field-image {
      display: none;
    }
  }

  .slick-dots {
    li button {
      border: 2px solid $white;
      background: transparent;
    }

    li.slick-active button {
      background: $white;
      border: 2px solid $white;
    }
  }

  .slider-wrapper-img {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    .image {
      min-height: 350px;
    }
  }
}

@media screen and (min-width: $small_width) {
  .upcoming-events {
    .views-row {
      min-height: 404px;

      .field-name-title {
        margin-top: 105px;
      }
    }

    .slider-wrapper-img .image {
      min-height: 535px;
    }

    .slick-dots {
      bottom: 55px;
    }
  }
}
