.list {
  padding: 50px 50px 50px 0;

  h2 {
    border-left: 5px solid $blue;
    margin-bottom: 35px;
    padding-left: 15px;
    color: $light-black;
    padding-top: 5px;
  }

  .views-row {
    margin-bottom: 30px;
  }

  .views-field {
    margin-bottom: 10px;
  }

  .views-field-field-category a {
    border-left: 5px solid $blue;
    color: $blue;
    font-size: $text;
    line-height: 1.2;
    padding-left: 5px;
    padding-top: 4px;
    text-decoration: none;
  }

  .views-field-title {
    a {
      color: $light-black;
      line-height: 1.8;
      text-decoration: none;
      text-transform: uppercase;
    }

    a.active {
      color: $blue;
    }
  }

  .views-field-body p {
    color: $input-text-color;
    font-weight: 300;
    line-height: 1.6;
  }

  .views-field-field-short-text-1 .field-content {
    color: $light-black;
  }

  .view-footer {
    margin-top: 50px;

    a {
      @include main-btn($blue);
    }

    a:before {
      @include arrow-right($dark-blue)
    }
  }
}

@media screen and (min-width: $small_width) {
  .list {
    float: left;
    padding-right: 55px;
    width: 50%;
  }
}
