input,
button,
input *,
button * {
  @include btnappearence();
  outline: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

input[type="password"],
input[type="email"],
input[type="text"] {
  @include placeholder-color(rgba($input-text-color, .7));
  background: $white;
  border: 2px solid $light-black;
  color: rgba($input-text-color, .7);
  font-size: $input;
  font-weight: 300;
  line-height: 1;
  width: 100%;
  padding: 14px 25px;
}

input[type="submit"] {
  background: $rose;
  border: none;
  cursor: pointer;
  font-size: $input;
  padding: 19px 12px 13px 12px;
  width: 100%;
}

// Select Custom
.select2-container {
  border: 2px solid $light-black;

  .select2-selection--single {
    height: 46px;

    .select2-selection__rendered {
      color: rgba($input-text-color, .7);
      padding: 10px 25px;
    }
  }
}

.select2-selection__arrow {
  background: $light-black;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;

  .select2-selection__arrow {
    height: 46px;
    right: 0;
    top: 0;
    width: 50px;

    b {
      border-color: $white transparent transparent transparent;
    }
  }
}
